-
    var awardHeader = '#awards';
    var awardList = [
        {
            title: 'Fastest typist in the house',
            description: "60 wpm",
            location: "Malaysia",
            date: "18 Dec 2017",
        },
        {
            title: 'The only coder for hire',
            description: "A little bit of everything",
            location: "Malaysia",
            date: "10 March 2015",
        },
        {
            title: 'The true rabbit lover',
            description: "Has 2 rabbits",
            location: "Malaysia",
            date: "22 March 2003",
        },
    ];

#award
.award
    .award__header=awardHeader
    each award in awardList
        .award__card
            .award__icon
                span.my-cv__icon--trophy
            .award__title=award.title

            .award__icon
                span.my-cv__icon--info
            .award__description=award.description

            .award__icon
                span.my-cv__icon--map2
            .award__location=award.location
            
            .award__icon
                span.my-cv__icon--calendar
            .award__date=award.date